@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #020617;
  --color-border: #e2e8f0;
  --color-primary: #6366f1;
  --color-secondary: #a855f7;
}

.dark {
  --color-background: #020617;
  --color-foreground: #d6dde4;
  --color-border: #1e293b;
}

@layer base {
  html,
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    -webkit-font-smoothing: antialiased;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}